<h1 style="color:white;">Customers</h1>

<table class="table table-bordered table-light">
  <thead style="color:white;background-color:red;">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"><center>Operations</center></th>
    </tr>
  </thead>

  <tbody style="color:white;background-color:black;">
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.address %></td>
        <td><%= button_to 'Show', customer,class:"btn btn-primary",method: :get %></td>
        <td><%= button_to 'Edit', edit_customer_path(customer),class:"btn btn-primary",method: :get %></td>
        <td><%= button_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Customer', new_customer_path,class:"btn btn-primary",method:"get" %>
